*{
  margin: 0;
  padding: 0;
  
}


.main{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
  background-color: lightsteelblue;
}

.text h1{
  display: flex;
  margin-top: 5px;
  width: 35.5vw;
  height: 125px;
  align-items: center;
  justify-content: center;
  background-color: lightpink;
}

.text h1{
  font-size: 40px;
  font-weight: 800;
  
}

.navbar{
  margin-top: 5px;
}
.navbar ul{
  display: flex;
  padding: 30px;
  background-color: lightyellow;
  list-style: none;
  
}

.navbar li{
  padding: 15px;
}


.navbar a{
  font-size: 30px;
  font-weight: 800;
  text-decoration: none;
  
}
